/*Fixing CSS bugs*/
* {
margin: 0;
padding: 0;
}

body {
    color: #1E1E1E;
    font-family: sans-serif;
}

html {
    overflow-y: scroll;
    font-size: 137.5%;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: ;
    src: url(../fonts/.ttf);
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

img {
  border: 0;
}

input {
  line-height: normal;
}
/*End of CSS bug fixes*/

h1,
h2,
h3 {
  /* Change heading typefaces here */
  font-family: sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem;
}
h1 {
  font-size: 3rem;
  line-height: 4rem;
  margin-top: 3rem;
}
h2 {
  font-size: 1.7rem;
  line-height: 2.5rem;
  margin-top: 3rem;
}

h3 {
  font-size: 1rem;
}

p {
  line-height: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 2.5rem;
}
ul li,
ol li {
  line-height: 1.5rem;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

strong {
    font-style: italic;
}

hr {
    margin-top: 3rem;
}

.center {
    display: flex;
    margin:auto;
    max-width: 960px;
    display: block;
}

.centertext {
    text-align: center;
}

.textarea {
}

.splash {
    color: #fff;
    background-color: #444444;
    min-height: 80vh;
    overflow:auto;
    align-items: center;
    justify-content: center;
    display: flex;
}


.splashwrap {

}

.donatebutton {
    display: flex;
    justify-content: center;
    align-content: center;
}

.donatebutton a {
    margin: 60px;
    background-color: gold;
    padding: 20px 40px;
    text-decoration: none;
    color: #000;
    border-radius: 6px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

nav .navitem {
    margin: 20px;
}

nav a {
    text-decoration: none;
    color: #ccc;
    padding: 10px 20px;
    background-color: #333;
}

.discordlink:hover {
    background-color: #7289DA;
}

.banappeals:hover {
    background-color: #b72828;
}

.maplink:hover {
    background-color: green;
}

.donatelink:hover {
    background-color: gold;
    color: #000;
}

@media screen and (max-width: 1000px) {
    .textarea {
        padding: 10px;
    }
}

@media screen and (max-width: 660px) {
    p {
        font-size: 0.9rem;
        line-height: 1.3rem;
    }
}
