/*Fixing CSS bugs*/
* {
margin: 0;
padding: 0;
}

html {
    overflow-y: scroll;
}

a {
  background-color: transparent;
  color: inherit;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

img {
  border: 0;
}

input {
  line-height: normal;
}
/*End of CSS bug fixes*/

body {
    font-family: "Helvetica Neue", Helvetica,Arial,sans-serif;
}

.youtube-video {
    position: relative;
	padding-bottom: 52%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.youtube-video iframe, .video-container object, .video-container embed {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.text {
    margin: auto;
    color: #222;
    max-width: 600px;
    padding: 20px 20px 0px 20px;
}

h1 {
    color: #222;
    font-weight: 100;
    margin: 40px;
    text-align: center;
}

h2 {
    margin-top: 40px;
    margin-bottom: 15px;
    font-weight: 500;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
    color: #666;
}

img {
    margin: 0 auto 20px auto;
    display: block;
    max-width: 100%;
}

i {
    line-height: 2.8;
    margin-left: 10px;
}

ul {
    color: #666;
    line-height: 1.8;
    list-style: none;
}

.marker {
    display: inline-block;
    margin: auto 0px auto 0px;
    vertical-align: middle;
}

.highlight {
    background-color: #dbe9fb;
}

.donatesection {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.donatewrapper {
    justify-content: flex-end;
}

.donatebutton {
    display: flex;
    justify-content: center;
    align-content: center;
}

.donatesection ul {
    list-style: initial;
}

.donatebutton a {
    margin: 60px;
    background-color: gold;
    padding: 20px 40px;
    text-decoration: none;
    color: #000;
    border-radius: 6px;
}
